
#top #sidenav{
    margin-left: 10px;
    width: 10%;
    height: 100%;
    float: left;
}
body{
    background-color: dimgray;
}
#top #info{
    margin-top: 0px;
    width: 85%;
    float:left;
    margin-left: 5px;
    height: 100%;

}
#topped{
    margin-top: 0px;
    width: 85%;
    float:left;
    margin-left: 5px;
    height: 100%;

}
#sortbutton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color:green;
    color:antiquewhite;
    width: 130px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 12px;
    cursor:pointer;
}
#info h2{
    margin-left: 400px;
    border-radius: 25px;
    padding: 20px;
    border: 2px solid orangered;
    width: 300px;
    height: 100px;
    text-align: center;
    color:white;
    background-color: darkseagreen;
}
#list #up{
    width:100%;
    height:10%;

}
#list #rem{
    width:100%;
    height:90%;

}

#bottom #cartinfo{
    width: 100%;
    height: 70%;
}
#bottom #checkout{
    width: 100%;
    height: 30%;
}
#checkoutinfos{
margin-left:400px;
}
#checkoutinfos button{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: gold;
    color:rebeccapurple;
    width: 130px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 12px;
    cursor:pointer;
}
#cartinfo h1{
    margin-left: 400px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid orangered;
    width: 300px;
    height: 30px;
    text-align: center;
    background-color: crimson;
}
#checkout h1{
    margin-left: 400px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid orangered;
    width: 300px;
    height: 30px;
    text-align: center;
    background-color: crimson;
}
#info h1{
   margin-left: 400px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid orangered;
    width: 300px;
    height: 30px;
    text-align: center;
    background-color: crimson;

}
#boxdetail{
  width: 70%;
    height: 50%;
    float: left;
}
#boximage{
    width: 30%;
    height: 50%;
    float: left;
    margin-top:45px;

}



#boxbutton{
    width: 100%;
    height:50% ;
    float: bottom;


}
#box{
    border-radius: 25px;
    border: 2px solid blue;
    padding: 20px;
    width: 250px;
    height: 260px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: royalblue;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}
#enablebutton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: blue;
    margin-top: 10px;
    margin-left:70px;
    color:white;
    width: 130px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 12px;
    cursor:pointer;
}
#disablebuttons{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-left:70px;
    width: 130px;
    height: 30px;
    border: 1px solid antiquewhite;
    border-radius: 12px;
    cursor:pointer;
}
#buttons{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: antiquewhite;
    margin-left:1300px;
    margin-top: auto;
    color:black;
    width: 200px;
    height: 60px;
    border: 1px solid black;
    border-radius: 12px;
    cursor:pointer;
}
#search{
    border: 1px solid black;
    border-radius: 12px;
    cursor:pointer;
    width:200px;
    height: 30px;
    background-color: darkseagreen;
    margin-top: 30px;
}
